*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
    margin: 0;
    display: 0;
    flex-direction: column;
    height: 100vh;
}
.top-menu{
    height: 50px;
    background-color: blue;
}

/* *************** SLIDERS *************** */
.slider{
    flex: 1;
    overflow: hidden; /*Corta as partes excedentes da imagem em vez de colocar barra de rolagem*/
}
.slider--width{
    height: 100%;
    display: flex;
    
    /* margin-left: ; */
    transition: all ease 1s; /*Efeito de slide*/
}
.slider--img{
    width: 100vw;
    height: calc(100vh - 50px); /* Herda a altura do elemento pai */
    background-position: center;
    background-size: cover; /*A imagem vai diminuir ou aumentar para se ajustar ao tamanho da tela*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 0px 1px 1px #333;
}

.slider--controls{
    position: absolute;
    z-index: 99; /*Garantir que a exibição dos controles estejam acima de outros elementos*/
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control{
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
    overflow: hidden; /*Texto não ultrapassa os limites das bordas*/
    cursor: pointer;
}